// edX theme: LMS Footer
// ====================
@import '../base/grid-settings';
@import 'neat/neat'; // lib - Neat


$edx-footer-link-color: $link-color;
$edx-footer-bg-color: rgb(252,252,252);

// Aggressively scoped for Drupal
// ==============================
// These styles are being loaded on Drupal, LMS and WordPress
// sites so the scope has to be aggressive to override default
// CMS styles
footer#footer-edx-v3 {
  background: $edx-footer-bg-color;
  padding: 15px 0;
  border-top: 1px solid $courseware-button-border-color;
  font-family: "Open Sans" ;

  div > div > div:nth-child(2) > div.col-lg-2.edx-col-md-2.col-md-3.col-sm-3 > ul {
    border: none;
  }


  div > div.row.all-screens > div.col-lg-10.col-md-12.col-sm-9.col-xs-12 > div{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;

  }
  div > div.row.all-screens > div.col-lg-10.col-md-12.col-sm-9.col-xs-12 > div > div{
    flex-direction: column;
  }
  div > div.row.all-screens > div.col-lg-10.col-md-12.col-sm-9.col-xs-12 > div > div.col-md-2.col-sm-4.col-xs-12 > div{
    height: 100%;
  }
  div > div.row.all-screens > div.col-lg-10.col-md-12.col-sm-9.col-xs-12 > div > div.col-md-2.col-sm-4.col-xs-12 > div > div{
    height: 100%;
  }
  div > div.row.all-screens > div.col-lg-10.col-md-12.col-sm-9.col-xs-12 > div > div.col-md-2.col-sm-4.col-xs-12 > div > div > ul{
    height: 100%;
  }
  div > div.row.all-screens > div.col-lg-10.col-md-12.col-sm-9.col-xs-12 > div > div:nth-child(2) > div{
    height: 100%;
  }
  div > div.row.all-screens > div.col-lg-10.col-md-12.col-sm-9.col-xs-12 > div > div:nth-child(2) > div > div{
    height: 100%;
  }
  div > div.row.all-screens > div.col-lg-10.col-md-12.col-sm-9.col-xs-12 > div > div:nth-child(2) > div > div > ul{
    height: 100%;
  }

  div > div.row.all-screens > div.col-lg-10.col-md-12.col-sm-9.col-xs-12 > div > div:nth-child(3) > div{
    height: 100%;
  }
  div > div.row.all-screens > div.col-lg-10.col-md-12.col-sm-9.col-xs-12 > div > div:nth-child(3) > div > div{
    height: 100%;
  }
  div > div.row.all-screens > div.col-lg-10.col-md-12.col-sm-9.col-xs-12 > div > div:nth-child(3) > div > div > ul{
    height: 100%;
  }
  div > div.row.all-screens > div.col-lg-10.col-md-12.col-sm-9.col-xs-12 > div > div.col-md-4.col-sm-9.col-xs-12{
    float: none;
    display: table-cell;
    vertical-align: top;
  }

  div.container{
    min-width: 0;
    @include padding(0, 15px, 0, 15px)
  }
  .row.small-screen{
    display: none;
  }
  .row.all-screens{
    display: block;
  }
  ul li h3{
    font-size: 16px ;
    font-weight: 600;
    padding:5px 0; 
    color: #646464;
  }
  .widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
    margin-bottom: 15px;
  }



  .footer-language-selector {
    @include float(right);
  }

  .app-links {
    margin-top: 15px ;
  }

  .clear-margins {
    margin-top: 15px;
    border-bottom: 1px solid #e6e6e6;
  }

  .social {
    margin-top: 30px;
  }

  ul.social li {
    display: table-cell;
    width: 1%;
  }

  .edx-footer-logo {
    display: inline-block;
  }
  // To match the Pattern Library
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .footer-content-wrapper {
    @include outer-container;
    @include box-sizing(border-box);
  }

  p {
    @include font-size(14);
    @include line-height(14);
    font-family: $sans-serif;
  }

  .copyright {
    margin-top: 30px;
    @include font-size(16);
    @include line-height(24);
  }


  .site-nav,
  .legal-notices {
    li {
      @include font-size(14);
      @include line-height(14);
      @include margin-right(20px);
      color: $edx-footer-link-color;

      &:last-of-type {
        @include margin-right(0);
      }

      &:hover,
      &:focus {
        border: none;
      }
    }
  }

  .footer-logo,
  .site-details,
  .external-links {
    @include span-columns(12);
  }

  .site-details,
  .external-links {
    margin-top: 5px;
  }

  .footer-logo {
    margin-bottom: 30px;
  }

  .legal-notices {
    margin: 20px 0;
  }

  .openedx-link {
    @include margin(10px, 0, 30px, -8px);
    width: 141px;

    a {
      display: inline-block;
    }

    img {
      width: 100%;
    }
  }

  .about-links,
  .legal-links,
  .social-media-links,
  .mobile-app-links {
      @extend %ui-no-list;
      .list-item {
          display: inline-block;
      }
  }

  .mobile-app-links {
    @include clearfix();
    position: relative;
    width: 260px;
    height: 42px;
  }

  .social-media-links {
    @include clearfix();
    margin-bottom: 30px;
  }

  .icon {
    font-family: 'FontAwesome';
    font-style: normal;
    color: $edx-footer-link-color;
  }



  a.sm-link {
    @include float(left);
    @include margin(0, 6px, 10px, 0px);
    @include font-size(40);
    @include line-height(28);
    width: 35px;
    height: 30px;
    line-height: 1;
    position: relative;
    display: inline;
    background: none;
    @include text-align(left);
    &:first-of-type {
      @include margin-left(0);
    }

    &:hover,
    &:focus {
      opacity: 0.7;
      border: none;
    }
  }
    a.social-links {
    @include margin(0, -7px, 10px, 0px);
    @include font-size(45);
    @include line-height(28);
    line-height: 1;
    position: relative;
    display: inline;
    background: none;
    text-align: left;

    &:first-of-type {
      @include margin-left(0);
    }

    &:hover,
    &:focus {
      opacity: 0.7;
      border: none;
    }
  }

  .app-link {

    &:first-of-type {
      @include left(0);
    }

    &:last-of-type {
      @include right(0);
    }

    img {
      height: 40px;
      max-width: 200px;
    }


  }

  .site-nav,
  .legal-notices,
  .footer-logo,
  .external-links {
    @extend %ui-print-excluded;
  }

  @media print {
    .site-details p {
      @include float(left);
    }

    .openedx-link {
      margin: 0;
      @include float(right);
    }
  }

  @include media( $edx-bp-large ) {
    div > div.row.all-screens > div.col-lg-10.col-md-12.col-sm-9.col-xs-12 > div > div{
      @include border-left( 1px solid #e6e6e6);
    }
    div > div.row.all-screens > div.col-lg-10.col-md-12.col-sm-9.col-xs-12 > div > div:nth-child(1){
      border: none;
    }

    div > div.row.all-screens > div.col-lg-10.col-md-12.col-sm-9.col-xs-12 > div > div.col-md-4.col-sm-9.col-xs-12{
      border: none;
    }

    .row.small-screen{
    display: none;
  }
  .row.all-screens{
    display: block;
  }
    padding: 20px 10px;

    .site-details {
      @include span-columns(8);
    }

    .external-links {
      @include span-columns(4);
    }

    .social-media-links,
    .mobile-app-links {
      @include float(right);
    }

    .social-media-links {
      margin-bottom: 40px;
    }
    div > div > div.col-lg-10.col-md-12.col-sm-9.second > div:nth-child(1) > div:nth-child(2) {
      @include border-left( 1px solid #e6e6e6);
    }

    div > div > div.col-lg-10.col-md-12.col-sm-9.second > div:nth-child(1) > div.col-lg-4.col-md-2.col-sm-4{
      @include border-left( 1px solid #e6e6e6);
    }

    ul.clear-margins {
      margin-top: 15px;
      //border-right: 1px solid #e6e6e6;
      border-bottom: none;
    }

    .app-link img {
      height: 40px;
    }

    a.social-links {
      @include font-size(40);
    }

    div > div > div:nth-child(2) > div.col-lg-2.edx-col-md-2.col-md-3.col-sm-3 > ul {
      border:  none;
    }

    div.row div:nth-child(4) ul.clear-margins {
      //border-right: none;
    }

    .social {
      display: inline-block;
      vertical-align:middle;
      margin-top: 20px;
    }

    .app-links {
      display: inline-block;
      vertical-align:middle;
    }

    .widget_nav_menu ul li {
      @include font-size(16);
    }

    ul li h3 {
      @include font-size(16);
      font-weight: 700;

    }

    .footer-language-selector {
        float: none;
    }

    ul.social li {
        display: inline-flex;
        width: auto;
    }
  }


  @include media( $edx-footer-bp-large ) {
    padding: 20px 10px;
    .row.small-screen{
    display: none;
  }

  .row.all-screens{
    display: block;
  }
    .site-details {
      @include span-columns(8);
    }

    .external-links {
      @include span-columns(4);
    }

    .social-media-links,
    .mobile-app-links {
      @include float(right);
    }

    .social-media-links {
      margin-bottom: 40px;
    }
    .edx-col-md-12 {
      width: 100%;
      @include float(left);
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }

    .edx-col-md-offset-0 {
      @include margin-left(0);
    }

    .edx-col-md-3 {
      width: 25%;
      @include float(left);
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }

    .edx-col-md-2 {
      width: 16.66666667%;
      @include float(left);
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }

    .edx-col-md-4 {
      width: 33.33333333%;
      @include float(left);
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
    div > div.row.all-screens > div.col-lg-10.col-md-12.col-sm-9.col-xs-12 > div > div {
      @include border-left( 1px solid #e6e6e6);
    }
    //.second{
    //  display: flex;
    //}
    //.edx-col-xs-6{
    //  display: flex;
    //  width: 100%;
    //}
    //.edx-col-xs-6 div[class*=' col-']{
    //  flex: 1;
    //  @include border-left( 1px solid #e6e6e6);
    //}

    ul.clear-margins {
      margin-top: 15px;
      //@include border-right(1px solid #e6e6e6)  ;
      border-bottom: none;
    }

    div.row div.edx-col-md-3:nth-child(1) {
      @include padding(0px, 0px, 0px, 15px);
      text-align: justify;
    }

    .left-offset {
       @include margin-left(17%);
    }

    .app-link img {
       height: 40px;
    }

    a.social-links{
      @include font-size(40);
    }

    div.row div:nth-child(4) ul.clear-margins {
      //@include border-right(none);
    }

    .social {
      display: inline-block;
      vertical-align:middle;
      margin-top: 20px;
    }

    .app-links {
      display: inline-block;
      vertical-align:middle;

    }

    .widget_nav_menu ul li {
      @include font-size(16);
      padding-bottom: 5px;
    }

    ul li h3 {
      @include font-size(16);
      font-weight: 700;
      padding-bottom: 10px;

    }

    .footer-language-selector {
      float: none;
      display: inline-block;
    }

    ul.social li {
      display: inline;
    }
  }

  @include media( $edx-bp-medium ) {
    padding: 20px 10px;
    .row.small-screen{
    display: block;
  }
  .row.all-screens{
    display: none;
  }
  .row.small-screen .edx-footer-logo{
        padding-left: 20px;
  }
    .edx-col-xs-6 {
      width: 50%;
      @include float(left);
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }

      div.container{
    min-width: 0;
  }

    div > div.row.small-screen > div:nth-child(2) > div:nth-child(2){
      @include border-left( 1px solid #e6e6e6);
    }
    div.col-xs-6 .col-xs-12{
      border-bottom: 1px solid #e6e6e6;
    }
    div > div.row.small-screen > div:nth-child(2) > div:nth-child(1) > div:nth-child(3){
      border: none;
    }
    div > div.row.small-screen > div:nth-child(2) > div:nth-child(2) > div{
      border-bottom: none;
    }
    .edx-col-xs-12 {
      width: 100%;
      @include float(left);
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }

    .site-details {
      @include span-columns(8);
    }

    .external-links {
      @include span-columns(4);
    }

    .social-media-links,
    .mobile-app-links {
      @include float(right);
    }

    .social-media-links {
      margin-bottom: 40px;
    }

    ul.clear-margins {
      margin-top: 5px;
      border-bottom: none;
    }

    .app-link img {
      height: 40px;
      margin-top: 10px;
    }

    a.social-links {
      @include font-size(50);
      margin-top: 5px;
      @include margin-left(5px);
    }

    .edx-col-xs-6 ul.clear-margins:nth-child(3) {
      border-bottom: none;
    }

    .social {
      display: inline-block;
      margin-top: 0px;
    }

    .col-xs-12 .footer-language-selector {
      @include margin(0, 0, 20px, 0);
      display: inline-block;
      float:none;
    }

    ul.social li {
        display: inline;
        width: 0;
    }


  }


  @include media( $edx-bp-huge ) {
    .footer-logo {
      @include span-columns(2);
    }

    .site-details {
      @include span-columns(7);
    }

    .external-links {
      @include span-columns(3);
    }

    .widget_nav_menu ul li {
      @include font-size(16);

    }

    .social-media-links {
      margin-bottom: 50px;
    }

    ul.social li {
      display: inline;
    }

    div > div.row.all-screens > div.col-lg-10.col-md-12.col-sm-9.col-xs-12 > div > div{
      @include border-left( 1px solid #e6e6e6);
    }
    div.row div.edx-col-xs-12 div.col-md-3:nth-child(1) {
      text-align: center;
      margin-top:20px;
    }
    div > div > div.col-lg-10.col-md-12.col-sm-9.second > div > div:nth-child(3) > div > div {
      height: 100%;
      @include border-left( 1px solid #e6e6e6);
    }
    div>div.row.all-screens>div.col-lg-10.col-md-12.col-sm-9.col-xs-12>div>div.col-md-2.col-sm-4.col-xs-12{
      @include border-left( 1px solid #e6e6e6);
    }
    div > div.row.all-screens > div.col-lg-10.col-md-12.col-sm-9.col-xs-12 > div > div.col-md-4.col-sm-9.col-xs-12 > div > div{
      @include border-left( 1px solid #e6e6e6);
    }

    .footer-language-selector {
      @include margin(20px, 20px, 0, 0);
    }

    //.second{
    //  display: flex;
    //}
    //.edx-col-xs-6{
    //  display: flex;
    //  width: 100%;
    //}
    //div[class*=' col-']{
    //  flex: 1;
    //  @include border-left( 1px solid #e6e6e6);
    ///* padding: 1em; */
    ////border: solid;
    //}
//    .row {
//  display: -webkit-box;
//  display: -webkit-flex;
//  display: -ms-flexbox;
//  display:         flex;
//  flex-wrap: wrap;
//}
//.row > [class*='col-'] {
//  display: flex;
//  flex-direction: column;
//}

  }

  //div.row div:nth-child(4) ul.clear-margins{
  //  @include border-right( 1px solid #e6e6e6);
  //}

  .footer-language-selector {
    margin: 20px 0;

    label[for=footer-language-select] {
      display: inline-block;
      cursor: initial;
    }
  }
}
